{% extends "layout.html" %}
{% block body %}
<body>

   <ul>
   {% for item in shopping_list.toBuy %}
	  <li class="shopping-item"
		 data-name="{{item.item_name}}" 
		 data-status="toBuy" 
		 data-quantity={{item.quantity}}
		 data-id="{{item.id}}">
	  
		 {{ item.item_name }} (buy)
		  
		 <a data-name="{{item.item_name}}" 
			data-type="toBuy"
			href="#" class="trigger-edit">edit</a>

		 <a href="">delete</a>
		  
	  </li> 
   {% endfor %}
   </ul>


   <ul>
   {% for item in shopping_list.inStock %}
	  <li class="shipping-item"
		 data-name="{{item.item_name}}" 
		 data-status="inStock" 
		 data-quantity={{item.quantity}}
		 data-id="{{item.id}}">
		 
		 {{ item.item_name }} (stocked)
		 <a href="#" class="trigger-edit">edit</a>

		 <a href="">delete</a>
	  </li> 
   {% endfor %}
   </ul>


   <ul>
   {% for item in shopping_list.requested %}
	  <li class="shopping-item"
		 data-name="{{item.item_name}}" 
		 data-status="requested" 
		 data-quantity={{item.quantity}}
		 data-id="{{item.id}}">
		 
		
		 {{ item.item_name }} (requested )
		 <a data-name="{{item.item_name}}" 
			data-type="{{item.status}}"
			href="#" class="trigger-edit">edit</a>

		 <a href="#">delete</a>

	  </li> 
   {% endfor %}
   </ul>

   <form method="POST">
	  <input type="text" name="item_name" placeholder="Item Name" />
	  <input type="number" name="quantity" placeholder="quantity" />
	  <select name="status">
		 <option value="inStock">Stocked</option> 
		 <option value="requested">Requested</option> 
		 <option value="toBuy">Buy Later</option> 
	  </select>

	  <input type="submit" value="add item" />

	   	    
   </form>
</body>
{% endblock %}
