{% extends "layout.html" %}
{% block body %}
<body>

   <ul>
   {% for item in shopping_list.toBuy %}
	  <li>{{ item.item_name }} (buy)</li> 
   {% endfor %}
   </ul>


   <ul>
   {% for item in shopping_list.inStock %}
	  <li>{{ item.item_name }} (stocked)</li> 
   {% endfor %}
   </ul>


   <ul>
   {% for item in shopping_list.requested %}
	  <li>{{ item.item_name }} (requested )</li> 
   {% endfor %}
   </ul>

   <form method="POST">
	  <input type="text" name="item_name" placeholder="Item Name" />
	  <input type="number" name="quantity" placeholder="quantity" />
	  <select name="status">
		 <option value="inStock">Stocked</option> 
		 <option value="requested">Requested</option> 
		 <option value="toBuy">Buy Later</option> 
	  </select>

	  <input type="submit" value="add item" />

	   	    
   </form>
</body>
{% endblock %}
